<div class="instagram-card col-xs-12">
  <div class="user">
    <div class="hidden profile-picture" style="background-image: url('{{post.user.profile_picture}}')"></div>
    <div class="username">{{post.user.username}}</div>
    <div class="hidden caption col-xs-12">{{post.caption.text}}</div>
  </div>

  <img class="image img-responsive" src="{{post.images.standard_resolution.url}}">
  <div class="hidden likes">{{post.likes.count}}</div>
  <div class="hidden comments">{{post.comments.count}}</div>
</div>